<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookByte">
        <activity
            android:name=".ui.GeneralSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdjustSegments"
            android:exported="false" />

        <receiver
            android:name=".ui.ReminderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UserLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DifficultySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".usermanagement.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".usermanagement.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GutenbergLibraryActivity"
            android:exported="false"
            android:label="@string/title_activity_library"
            android:theme="@style/Theme.BookByte" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PdfUploadActivity"
            android:exported="false" />
        <activity
            android:name=".segmentation.SegmentedTextViewerActivity"
            android:exported="true" />
        <activity
            android:name=".usermanagement.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>